{
	git {
		repo wenger.dev {
			base_dir {$HOME}/tmp
			url https://github.com/GreedTP/wenger.dev
			branch main
		}
	}
}

80: {
	route /version* {
		respond * "1.0.1" 200
	}
	route /update/wenger.dev {
		git update repo wenger.dev
	}
	route {
		file_server {
			root {$HOME}/tmp/wenger.dev
		}
	}
}