{
	debug
	http_port 80

	git {
		repo wenger.dev {
			base_dir /srv
			url https://github.com/GreedTP/wenger.dev.git
			branch main
		}
	}
}

:80 {
	route /version* {
		respond * "1.0.4" 200
	}
	route /update/wenger.dev {
		git update repo wenger.dev
	}
	route {
		file_server {
			root * /srv/wenger.dev
		}
	}
}