{
    debug
	local_certs
	http_port 80
	https_port 443

	git {
		repo wenger.dev {
			base_dir {$HOME}/tmp
			url https://github.com/GreedTP/wenger.dev.git
			branch main
		}
	}
}

wenger.dev {
	route /version* {
		respond * "1.0.2" 200
	}
	route /update/wenger.dev {
		git update repo wenger.dev
	}
	route {
		file_server {
			root {$HOME}/tmp/wenger.dev
		}
	}
}